Repository MicrosoftDocs/powerquery-docs, pull requests merged in 2023-05, with the labels that each got.

#372 two syntax errors in error handling corrected
  powerquery-docs/handling-authentication.md
Labels: do-not-merge, powerquery/svc, Change sent to author, qualifies-for-auto-merge, aq-pr-triaged

#421 Capitalize Query in img alt text
  powerquery-docs/power-query-what-is-power-query.md
Labels: do-not-merge, powerquery/svc, Change sent to author, qualifies-for-auto-merge

#407 Bitsight-BrandUpdate
  powerquery-docs/connectors/bitsight-security-ratings.md
  powerquery-docs/toc.yml
Labels: powerquery/svc, Change sent to author, ready-to-merge, aq-pr-triaged, waiting-for-feature-release

#327 Documentation changes for version 4 of the AssembleViews connector
  powerquery-docs/connectors/assemble-views.md
  powerquery-docs/connectors/media/assemble-views/assemble-views-model-selection.png
  powerquery-docs/connectors/media/assemble-views/assemble-views-project-selection.png
  powerquery-docs/connectors/media/assemble-views/assemble-views-property-selection.png
  powerquery-docs/connectors/media/assemble-views/assemble-views-selection.png
  powerquery-docs/connectors/media/assemble-views/assemble-views-url.png
Labels: do-not-merge, powerquery/svc, Change sent to author, needs-human-review, aq-pr-triaged, waiting-for-feature-release

#365 Update postgres.md
  powerquery-docs/connectors/postgresql.md
Labels: do-not-merge, powerquery/svc, Change sent to author, qualifies-for-auto-merge, aq-pr-triaged

#409 Updated documentation for Autodesk Construction Cloud Connector
  powerquery-docs/connectors/autodesk-construction-cloud.md
  powerquery-docs/connectors/index.md
  powerquery-docs/connectors/media/autodesk-construction-cloud/acc-extract-selection.png
  powerquery-docs/connectors/media/autodesk-construction-cloud/acc-table-selection-account.png
  powerquery-docs/toc.yml
Labels: do-not-merge, powerquery/svc, Change sent to author, needs-human-review, aq-pr-triaged

#424 Update helper-functions.md
  powerquery-docs/helper-functions.md
Labels: powerquery/svc, Change sent to author, qualifies-for-auto-merge, ready-to-merge, aq-pr-triaged
