Repository MicrosoftDocs/powerquery-docs, pull requests merged in 2023-06, with the labels that each got.

#427 Add swsd powerbi connector
  powerquery-docs/connectors/index.md
  powerquery-docs/connectors/media/index/solarwinds-service-desk-64.png
  powerquery-docs/connectors/media/solarwinds-service-desk/auth-key.png
  powerquery-docs/connectors/media/solarwinds-service-desk/data-source-clear.png
  powerquery-docs/connectors/media/solarwinds-service-desk/error-message.png
  powerquery-docs/connectors/media/solarwinds-service-desk/get-data.png
  powerquery-docs/connectors/media/solarwinds-service-desk/nav-data.png
  powerquery-docs/connectors/solarwinds-service-desk.md
  powerquery-docs/toc.yml
Labels: do-not-merge, powerquery/svc, Change sent to author, needs-human-review, aq-pr-triaged

#417 Add Palantir Foundry connector docs page
  powerquery-docs/connectors/index.md
  powerquery-docs/connectors/media/palantir-foundry-datasets/connection-settings.png
  powerquery-docs/connectors/media/palantir-foundry-datasets/oauth.png
  powerquery-docs/connectors/media/palantir-foundry-datasets/online-connection-settings.png
  powerquery-docs/connectors/media/palantir-foundry-datasets/online-select-data.png
  powerquery-docs/connectors/media/palantir-foundry-datasets/select-data.png
  powerquery-docs/connectors/palantir-foundry-datasets.md
  powerquery-docs/toc.yml
Labels: do-not-merge, powerquery/svc, Change sent to author, needs-human-review, aq-pr-triaged

#386 Remove beta from Databricks doc
  powerquery-docs/connectors/databricks.md
  powerquery-docs/connectors/index.md
  powerquery-docs/connectors/media/databricks/dbc-sql-endpoint.png
  powerquery-docs/connectors/media/databricks/filtered-connectors.png
  powerquery-docs/connectors/media/databricks/get-data-dbc.png
  powerquery-docs/toc.yml
Labels: writer-review-completed, powerquery/svc, Change sent to author, needs-human-review, aq-pr-triaged

#423 Add MongoDB Atlas SQL Interface documentation
  powerquery-docs/connectors/index.md
  powerquery-docs/connectors/media/index/mongodb-64.png
  powerquery-docs/connectors/media/mongodb/mongodb_authentication.png
  powerquery-docs/connectors/media/mongodb/mongodb_choose_data.png
  powerquery-docs/connectors/media/mongodb/mongodb_connect_to_data_source.png
  powerquery-docs/connectors/media/mongodb/mongodb_connection_dialogue.png
  powerquery-docs/connectors/media/mongodb/mongodb_get_data.png
  powerquery-docs/connectors/mongodb-atlas-sql-interface.md
  powerquery-docs/toc.yml
Labels: do-not-merge, powerquery/svc, Change sent to author, needs-human-review, aq-pr-triaged

#363 Add celonis-ems documentation & related images
  powerquery-docs/connectors/celonis-ems.md
  powerquery-docs/connectors/index.md
  powerquery-docs/connectors/media/celonis-ems/authentication.png
  powerquery-docs/connectors/media/celonis-ems/get-data.png
  powerquery-docs/connectors/media/celonis-ems/navigator.png
  powerquery-docs/connectors/media/celonis-ems/set-url.png
  powerquery-docs/connectors/media/index/celonis-64.png
  powerquery-docs/toc.yml
Labels: do-not-merge, needs-human-review, aq-pr-triaged, waiting-for-feature-release

#379 Add CloudBluePSA documents
  powerquery-docs/connectors/cloudbluepsa.md
  powerquery-docs/connectors/index.md
  powerquery-docs/connectors/media/cloudbluepsa/expand-1-1.png
  powerquery-docs/connectors/media/cloudbluepsa/expand-1.png
  powerquery-docs/connectors/media/cloudbluepsa/get-data.png
  powerquery-docs/connectors/media/cloudbluepsa/power-query-connect-to-data-source.png
  powerquery-docs/connectors/media/cloudbluepsa/power-query-expand-1-1.png
  powerquery-docs/connectors/media/cloudbluepsa/power-query-expand-1.png
  powerquery-docs/connectors/media/cloudbluepsa/power-query-search-box.png
  powerquery-docs/connectors/media/cloudbluepsa/retrieve-all-pages-of-data.png
  powerquery-docs/connectors/media/index/cloudbluepsa-64.png
  powerquery-docs/toc.yml
Labels: do-not-merge, powerquery/svc, Change sent to author, needs-human-review, aq-pr-triaged, waiting-for-feature-release

#422 Updated img alt text language
  powerquery-docs/power-query-what-is-power-query.md
Labels: powerquery/svc, Change sent to author, qualifies-for-auto-merge, ready-to-merge, aq-pr-triaged
