Repository MicrosoftDocs/powerquery-docs, pull requests merged in 2023-04, with the labels that each got.

#362 Update digital-construction-works-insights.md
  powerquery-docs/connectors/digital-construction-works-insights.md
Labels: do-not-merge, powerquery/svc, Change sent to author, qualifies-for-auto-merge, aq-pr-triaged, waiting-for-feature-release

#377 Removing inline Table.ToNavigationTable definition
  powerquery-docs/samples/trippin/3-navtables/readme.md
Labels: do-not-merge, powerquery/svc, Change sent to author, needs-human-review, aq-pr-triaged

#406 Mention Essbase version that we currently support.
  powerquery-docs/connectors/essbase.md
Labels: do-not-merge, powerquery/svc, Change sent to author, qualifies-for-auto-merge, aq-pr-triaged
