Repository MicrosoftDocs/powerquery-docs, pull requests merged in 2024-02, with the labels that each got.

#414 Added inwink connector
  powerquery-docs/connectors/index.md
  powerquery-docs/connectors/inwink.md
  powerquery-docs/connectors/media/index/inwink-64.png
  powerquery-docs/connectors/media/inwink/auth1.png
  powerquery-docs/connectors/media/inwink/auth2.png
  powerquery-docs/connectors/media/inwink/get-data.png
  powerquery-docs/connectors/media/inwink/nav-data.png
  powerquery-docs/connectors/media/inwink/select-scope.png
  powerquery-docs/toc.yml
Labels: do-not-merge, powerquery/svc, Change sent to author, needs-human-review, aq-pr-triaged, waiting-for-feature-release, Connector

#498 Dynamic Grouping Rules Update
  powerquery-docs/data-privacy-firewall.md
Labels: do-not-merge, powerquery/svc, Change sent to author, qualifies-for-auto-merge, aq-pr-triaged

#516 Update data-lake-storage.md
  powerquery-docs/connectors/data-lake-storage.md
Labels: powerquery/svc, Change sent to author, qualifies-for-auto-merge, ready-to-merge
