Repository MicrosoftDocs/powerquery-docs, pull requests merged in 2024-10, with the labels that each got.

#562 Update amazon-redshift.md
  powerquery-docs/connectors/amazon-redshift.md
Labels: powerquery/svc, Change sent to author, qualifies-for-auto-merge, ready-to-merge

#558 Add ClickHouse docs
  powerquery-docs/connectors/clickhouse.md
  powerquery-docs/connectors/index.md
  powerquery-docs/connectors/media/clickhouse/powerbi_05.png
  powerquery-docs/connectors/media/clickhouse/powerbi_06.png
  powerquery-docs/connectors/media/clickhouse/powerbi_07.png
  powerquery-docs/connectors/media/clickhouse/powerbi_08.png
  powerquery-docs/connectors/media/clickhouse/powerbi_09.png
  powerquery-docs/connectors/media/index/clickhouse-64.png
  powerquery-docs/toc.yml
Labels: powerquery/svc, Change sent to author, needs-human-review, ready-to-merge, aq-pr-triaged, waiting-for-feature-release

#567 Update access-database.md
  powerquery-docs/connectors/access-database.md
Labels: powerquery/svc, Change sent to author, qualifies-for-auto-merge, ready-to-merge, aq-pr-triaged
