Repository MicrosoftDocs/powerquery-docs, pull requests merged in 2024-03, with the labels that each got.

#509 SWSD Connector documentation for GA
  powerquery-docs/connectors/index.md
  powerquery-docs/connectors/media/solarwinds-service-desk/auth-key.png
  powerquery-docs/connectors/media/solarwinds-service-desk/create-parameters.png
  powerquery-docs/connectors/media/solarwinds-service-desk/data-source-clear.png
  powerquery-docs/connectors/media/solarwinds-service-desk/data-source-credentails.png
  powerquery-docs/connectors/media/solarwinds-service-desk/error-message.png
  powerquery-docs/connectors/media/solarwinds-service-desk/get-data.png
  powerquery-docs/connectors/media/solarwinds-service-desk/nav-data.png
  powerquery-docs/connectors/media/solarwinds-service-desk/open-advanced-editor.png
  powerquery-docs/connectors/media/solarwinds-service-desk/open-incremental-refresh.png
  powerquery-docs/connectors/media/solarwinds-service-desk/open-query-editor.png
  powerquery-docs/connectors/media/solarwinds-service-desk/semantic-model.png
  powerquery-docs/connectors/media/solarwinds-service-desk/set-incremental-refresh.png
  powerquery-docs/connectors/solarwinds-service-desk.md
  powerquery-docs/toc.yml
Labels: powerquery/svc, Change sent to author, needs-human-review, review-team-triage, ready-to-merge, aq-pr-triaged, waiting-for-feature-release

#492 Update web.md
  powerquery-docs/connectors/web/web.md
Labels: powerquery/svc, Change sent to author, qualifies-for-auto-merge, ready-to-merge, aq-pr-triaged, Connector

#519 Get rid of Beta flag for SingleStore Power BI connector
  powerquery-docs/connectors/index.md
  powerquery-docs/connectors/singlestore.md
  powerquery-docs/toc.yml
Labels: powerquery/svc, Change sent to author, needs-human-review, ready-to-merge, aq-pr-triaged
