Repository MicrosoftDocs/powerquery-docs, pull requests merged in 2024-06, with the labels that each got.

#545 Additional changes to OneStream Connector documentation
  powerquery-docs/connectors/index.md
  powerquery-docs/connectors/media/index/onestream-64.png
  powerquery-docs/connectors/media/onestream/os-connector-connect.png
  powerquery-docs/connectors/media/onestream/os-connector-get-adapter.png
  powerquery-docs/connectors/media/onestream/os-connector-get-cube.png
  powerquery-docs/connectors/media/onestream/os-connector-get-dimension.png
  powerquery-docs/connectors/media/onestream/os-connector-login.png
  powerquery-docs/connectors/media/onestream/pbi-publish-access.png
Labels: powerquery/svc, Change sent to author, needs-human-review, ready-to-merge, aq-pr-triaged

#544 Update common-issues.md
  powerquery-docs/common-issues.md
Labels: do-not-merge, powerquery/svc, Change sent to author, qualifies-for-auto-merge, aq-pr-triaged

#546 Update Autodesk Construction Cloud docs
  powerquery-docs/connectors/autodesk-construction-cloud.md
  powerquery-docs/connectors/media/autodesk-construction-cloud/acc-powerbi-template-gallery.png
  powerquery-docs/connectors/media/autodesk-construction-cloud/acc-region-selection.png
Labels: do-not-merge, powerquery/svc, Change sent to author, needs-human-review, aq-pr-triaged

#547 Add limitation for dataflows with administration mode
  powerquery-docs/dataflows/dataflow-solution-awareness.md
Labels: do-not-merge, powerquery/svc, Change sent to author, qualifies-for-auto-merge, aq-pr-triaged, needs-engineering-review
