Repository MicrosoftDocs/powerquery-docs, pull requests merged in 2024-08, with the labels that each got.

#555 7/25/2024 - Wolters Kluwer CCH Tagetik Power BI connector
  powerquery-docs/connectors/index.md
  powerquery-docs/connectors/wolters-kluwer-cch-tagetik.md
  powerquery-docs/toc.yml
Labels: do-not-merge, powerquery/svc, Change sent to author, needs-human-review, aq-pr-triaged

#556 SolarWinds Service Desc Connector - change to update_at
  powerquery-docs/connectors/index.md
  powerquery-docs/connectors/solarwinds-service-desk.md
Labels: do-not-merge, powerquery/svc, Change sent to author, needs-human-review, aq-pr-triaged

#557 Update MongoDB Atlas SQL Interface documentation
  powerquery-docs/connectors/index.md
  powerquery-docs/connectors/media/mongodb/mongodb_connect_to_data_source.png
  powerquery-docs/connectors/media/mongodb/mongodb_connection_dialogue.png
  powerquery-docs/connectors/media/mongodb/mongodb_get_data.png
  powerquery-docs/connectors/mongodb-atlas-sql-interface.md
  powerquery-docs/toc.yml
Labels: needs-human-review, ready-to-merge, aq-pr-triaged

#541 Denodo: added ConnectionTimeout config parameter
  powerquery-docs/connectors/denodo.md
  powerquery-docs/connectors/media/denodo/denodo-connectiontimeout.png
Labels: do-not-merge, needs-human-review, aq-pr-triaged, waiting-for-feature-release
