Repository MicrosoftDocs/powerquery-docs, pull requests merged in 2024-04, with the labels that each got.

#525 Update data-lake-storage.md
  powerquery-docs/connectors/data-lake-storage.md
Labels: do-not-merge, powerquery/svc, Change sent to author, qualifies-for-auto-merge, aq-pr-triaged

#534 [celonis-ems.md]: Update release status and limitations
  powerquery-docs/connectors/celonis-ems.md
  powerquery-docs/connectors/index.md
  powerquery-docs/toc.yml
Labels: needs-human-review, ready-to-merge, aq-pr-triaged

#426 adds documentation for supermetrics connector
  powerquery-docs/connectors/index.md
  powerquery-docs/connectors/media/index/supermetrics-64.png
  powerquery-docs/connectors/media/supermetrics/sm_connect_to_supermetrics.png
  powerquery-docs/connectors/media/supermetrics/sm_connectors_list.png
  powerquery-docs/connectors/media/supermetrics/sm_get_started_with_query_manager.png
  powerquery-docs/connectors/media/supermetrics/sm_navigator.png
  powerquery-docs/connectors/media/supermetrics/sm_signed_in.png
  powerquery-docs/connectors/media/supermetrics/sm_signin_page.png
  powerquery-docs/connectors/media/supermetrics/sm_thanks_page.png
  powerquery-docs/connectors/supermetrics.md
  powerquery-docs/toc.yml
Labels: do-not-merge, needs-human-review, aq-pr-triaged, waiting-for-feature-release, Connector

#490 Create samsara-connector.md
  powerquery-docs/connectors/samsara-connector.md
Labels: do-not-merge, aq-pr-triaged, waiting-for-feature-release, Connector, certified-connector

#518 Add documentation for the LEAP connector
  powerquery-docs/connectors/index.md
  powerquery-docs/connectors/leap.md
  powerquery-docs/connectors/media/index/leap-64.png
  powerquery-docs/connectors/media/leap/desktop-leap-get-data.png
  powerquery-docs/connectors/media/leap/desktop-leap-navigator.png
  powerquery-docs/connectors/media/leap/desktop-leap-sign-in-auth.png
  powerquery-docs/connectors/media/leap/desktop-leap-sign-in.png
  powerquery-docs/connectors/media/leap/desktop-leap-signed-in.png
  powerquery-docs/toc.yml
Labels: do-not-merge, needs-human-review, aq-pr-triaged, waiting-for-feature-release, Connector, certified-connector

#524 Added Exact Online Premium connector documentation
  powerquery-docs/connectors/exact-online-premium.md
  powerquery-docs/connectors/media/exact-online-premium/exact-online-premium-login.png
  powerquery-docs/connectors/media/exact-online-premium/exact-online-premium-navigator.png
  powerquery-docs/connectors/media/exact-online-premium/exact-online-premium-not-signed-in.png
  powerquery-docs/connectors/media/exact-online-premium/exact-online-premium-select-connector.png
  powerquery-docs/connectors/media/exact-online-premium/exact-online-premium-signed-in.png
  powerquery-docs/toc.yml
Labels: do-not-merge, aq-pr-triaged, waiting-for-feature-release, Connector, certified-connector

#531 Update dataverse.md
  powerquery-docs/connectors/dataverse.md
Labels: powerquery/svc, Change sent to author, qualifies-for-auto-merge, ready-to-merge, aq-pr-triaged
