Repository MicrosoftDocs/powerquery-docs, pull requests merged in 2024-07, with the labels that each got.

#537 Intersystems Health Insight from Patch 1
  powerquery-docs/connectors/index.md
  powerquery-docs/connectors/intersystems-healthinsight.md
  powerquery-docs/connectors/media/index/intersystems-health-insight-64.png
  powerquery-docs/connectors/media/intersystem-healthinsight/authentication-screen.png
  powerquery-docs/connectors/media/intersystem-healthinsight/connection-screen.png
  powerquery-docs/connectors/media/intersystem-healthinsight/get-data.png
  powerquery-docs/connectors/media/intersystem-healthinsight/initial-desktop.png
  powerquery-docs/toc.yml
Labels: do-not-merge, powerquery/svc, Change sent to author, needs-human-review, review-team-triage, aq-pr-triaged, waiting-for-feature-release

#549 Add BuildingConnected documentation
  powerquery-docs/connectors/buildingconnected.md
  powerquery-docs/connectors/media/buildingconnected/buildingconnected-adsk-login.png
  powerquery-docs/connectors/media/buildingconnected/buildingconnected-data-types.png
  powerquery-docs/connectors/media/buildingconnected/buildingconnected-expand-nested-items.png
  powerquery-docs/connectors/media/buildingconnected/buildingconnected-get-data.png
  powerquery-docs/connectors/media/buildingconnected/buildingconnected-sign-in-success.png
  powerquery-docs/connectors/media/buildingconnected/buildingconnected-sign-in.png
  powerquery-docs/connectors/media/buildingconnected/buildingconnected-updatedAt.png
Labels: do-not-merge, needs-human-review, review-team-triage, aq-pr-triaged

#542 add deprecation notice to socialbakers and emplifi connectors
  powerquery-docs/connectors/emplifi-metrics.md
  powerquery-docs/connectors/index.md
  powerquery-docs/connectors/socialbakers.md
  powerquery-docs/toc.yml
Labels: do-not-merge, needs-writer-review, powerquery/svc, Change sent to author, needs-human-review, aq-pr-triaged

#552 adding windsor connector
  powerquery-docs/connectors/index.md
  powerquery-docs/connectors/media/index/windsor-64.png
  powerquery-docs/connectors/media/windsor/windsor-pbi-connect.png
  powerquery-docs/connectors/media/windsor/windsor-pbi-connector-list.png
  powerquery-docs/connectors/media/windsor/windsor-pbi-navigator.png
  powerquery-docs/connectors/media/windsor/windsor-pbi-signin.png
  powerquery-docs/connectors/media/windsor/windsor-save-query.png
  powerquery-docs/connectors/media/windsor/windsor-signin.png
  powerquery-docs/connectors/windsor.md
  powerquery-docs/toc.yml
Labels: powerquery/svc, Change sent to author, needs-human-review, ready-to-merge, aq-pr-triaged

#554 SWSD allows more than two years
  powerquery-docs/connectors/media/solarwinds-service-desk/set-incremental-refresh.png
  powerquery-docs/connectors/solarwinds-service-desk.md
Labels: do-not-merge, powerquery/svc, Change sent to author, needs-human-review
