Repository MicrosoftDocs/powerquery-docs, pull requests merged in 2024-05, with the labels that each got.

#539 Update samsara.md
  powerquery-docs/connectors/samsara.md
Labels: powerquery/svc, Change sent to author, qualifies-for-auto-merge, ready-to-merge, aq-pr-triaged

#511 Documentation for OneStream Connector
  powerquery-docs/connectors/index.md
  powerquery-docs/connectors/media/index/onestream-64.png
  powerquery-docs/connectors/media/onestream/os-connector-config.png
  powerquery-docs/connectors/media/onestream/os-connector-connect.png
  powerquery-docs/connectors/media/onestream/os-connector-get-adapter.png
  powerquery-docs/connectors/media/onestream/os-connector-get-cube.png
  powerquery-docs/connectors/media/onestream/os-connector-get-dimension.png
  powerquery-docs/connectors/media/onestream/os-connector-login.png
  powerquery-docs/connectors/media/onestream/os-connector-search.png
  powerquery-docs/connectors/media/onestream/pbi-get-data.png
  powerquery-docs/connectors/media/onestream/pbi-publish-access.png
  powerquery-docs/connectors/media/onestream/pbi-publish-success.png
  powerquery-docs/connectors/media/onestream/pbi-publish.png
  powerquery-docs/connectors/onestream.md
  powerquery-docs/toc.yml
Labels: do-not-merge, needs-human-review, aq-pr-triaged, waiting-for-feature-release, Connector, certified-connector

#543 File name correction pr528
  powerquery-docs/connectors/index.md
  powerquery-docs/connectors/media/index/wolters-kluwer-cch-tagetik-64.png
  powerquery-docs/connectors/media/wolters-kluwer-cch-tagetik/authentication-credentials.png
  powerquery-docs/connectors/media/wolters-kluwer-cch-tagetik/dashboard.png
  powerquery-docs/connectors/media/wolters-kluwer-cch-tagetik/data-model.png
  powerquery-docs/connectors/media/wolters-kluwer-cch-tagetik/get-cchtagetik-data.png
  powerquery-docs/connectors/media/wolters-kluwer-cch-tagetik/load.png
  powerquery-docs/connectors/media/wolters-kluwer-cch-tagetik/navigator-dialog.png
  powerquery-docs/connectors/media/wolters-kluwer-cch-tagetik/window-parameters.png
  powerquery-docs/connectors/wolters-kluwer-cch-tagetik.md
  powerquery-docs/toc.yml
Labels: do-not-merge, powerquery/svc, Change sent to author, needs-human-review, aq-pr-triaged
