Repository MicrosoftDocs/powerquery-docs, pull requests merged in 2024-12, with the labels that each got.

#566 2024/10/18 - Wolters Kluwer CCH Tagetik Power BI connector - Document…
  powerquery-docs/connectors/media/wolters-kluwer-cch-tagetik/window-parameters.png
  powerquery-docs/connectors/wolters-kluwer-cch-tagetik.md
Labels: do-not-merge, powerquery/svc, Change sent to author, needs-human-review, aq-pr-triaged

#564 Update npgsql to 4.0.17 from 4.0.10
  powerquery-docs/connectors/postgresql.md
Labels: do-not-merge, powerquery/svc, Change sent to author, qualifies-for-auto-merge, aq-pr-triaged, waiting-for-feature-release

#573 Update create-use.md
  powerquery-docs/dataflows/create-use.md
Labels: powerquery/svc, Change sent to author, qualifies-for-auto-merge, ready-to-merge
