Repository MicrosoftDocs/powerquery-docs, pull requests merged in 2024-09, with the labels that each got.

#560 update Bloomberg Data and Analytics documentation and screenshots for…
  powerquery-docs/connectors/bloomberg-data-and-analytics.md
  powerquery-docs/connectors/media/bloomberg-data-and-analytics/bb-sign-in.png
  powerquery-docs/connectors/media/bloomberg-data-and-analytics/bloomberg-sign-in.png
  powerquery-docs/connectors/media/bloomberg-data-and-analytics/bql-example.png
  powerquery-docs/connectors/media/bloomberg-data-and-analytics/bql-load.png
  powerquery-docs/connectors/media/bloomberg-data-and-analytics/bql-query.png
  powerquery-docs/connectors/media/bloomberg-data-and-analytics/bunit.png
  powerquery-docs/connectors/media/bloomberg-data-and-analytics/button-select.png
  powerquery-docs/connectors/media/bloomberg-data-and-analytics/connect.png
  powerquery-docs/connectors/media/bloomberg-data-and-analytics/function-bar.png
  powerquery-docs/connectors/media/bloomberg-data-and-analytics/get-bql-data.png
  powerquery-docs/connectors/media/bloomberg-data-and-analytics/get-data.png
  powerquery-docs/connectors/media/bloomberg-data-and-analytics/load-transform.png
  powerquery-docs/connectors/media/bloomberg-data-and-analytics/mobile-app.png
  powerquery-docs/connectors/media/bloomberg-data-and-analytics/navigator-view.png
  powerquery-docs/connectors/media/bloomberg-data-and-analytics/sign-in.png
  powerquery-docs/connectors/media/bloomberg-data-and-analytics/sql-example.png
  powerquery-docs/connectors/media/bloomberg-data-and-analytics/sql-load.png
Labels: do-not-merge, powerquery/svc, Change sent to author, needs-human-review, review-team-triage, aq-pr-triaged

#559 Kyvosdevelopers kyvos odbc doc1
  powerquery-docs/connectors/index.md
  powerquery-docs/connectors/kyvos-odbc.md
  powerquery-docs/connectors/media/index/kyvos-odbc-64.png
  powerquery-docs/connectors/media/kyvos-odbc/connect.png
  powerquery-docs/connectors/media/kyvos-odbc/directquery.png
  powerquery-docs/connectors/media/kyvos-odbc/edit-credentials.png
  powerquery-docs/connectors/media/kyvos-odbc/get-data.png
  powerquery-docs/connectors/media/kyvos-odbc/load.png
  powerquery-docs/connectors/media/kyvos-odbc/new-connection.png
  powerquery-docs/connectors/media/kyvos-odbc/oauth.png
  powerquery-docs/connectors/media/kyvos-odbc/unp.png
  powerquery-docs/connectors/media/kyvos-odbc/workbook.png
  powerquery-docs/toc.yml
Labels: do-not-merge, needs-human-review, review-team-triage, aq-pr-triaged

#561 Update azure-cosmos-db-v2.md
  powerquery-docs/connectors/azure-cosmos-db-v2.md
Labels: do-not-merge, powerquery/svc, Change sent to author, qualifies-for-auto-merge, aq-pr-triaged
