Repository MicrosoftDocs/powerquery-docs, pull requests merged in 2025-09, with the labels that each got.

#595 Update maturity level for Cognite connector
  powerquery-docs/connectors/cognite-data-fusion-(odata).md
  powerquery-docs/connectors/cognite-data-fusion-(rest-api).md
  powerquery-docs/connectors/index.md
  powerquery-docs/connectors/media/cognite-data-fusion-odata/get-data-dialog.png
  powerquery-docs/connectors/media/cognite-data-fusion-odata/online-get-data.png
  powerquery-docs/connectors/media/cognite-data-fusion-rest/get-data-dialog.png
  powerquery-docs/connectors/media/cognite-data-fusion-rest/online-connection-credentials.png
  powerquery-docs/connectors/media/cognite-data-fusion-rest/online-connection-settings.png
  powerquery-docs/connectors/media/cognite-data-fusion-rest/online-get-data.png
  powerquery-docs/toc.yml
Labels: needs-human-review, ready-to-merge, aq-pr-triaged

#598 Snowflake updates final
  powerquery-docs/connectors/impala-database.md
  powerquery-docs/connectors/snowflake.md
Labels: powerquery/svc, Change sent to author, ready-to-merge, aq-pr-triaged, connectors/subsvc

#578 Added in details about the Custom Salesforce Objects
  powerquery-docs/connectors/salesforce-objects.md
  powerquery-docs/connectors/salesforce-reports.md
Labels: do-not-merge, powerquery/svc, Change sent to author, aq-pr-triaged, connectors/subsvc
